services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    # Регистрируем все из корня src/
    AdminCore\:
        resource: '../../*'
        exclude:
            - '../../Entity/'
            - '../../Resources/'
            - '../../Tests/'
            - '../../Controller/Admin/FormField/'
            - '../../DependencyInjection/'
            - '../../AdminCoreBundle.php'

    # Репозитории
    AdminCore\Repository\:
        resource: '../../Repository/*'
        tags: ['doctrine.repository_service']

    # Контроллеры
    AdminCore\Controller\:
        resource: '../../Controller/*'
        exclude: '../../Controller/Admin/FormField/'
        tags: ['controller.service_arguments']